
**/.cache/
**/.DS_Store
**/*.pyc
**/*.swp
**/.idea/
**/*.iml

.dazel_run


# added by xyfeng for data repository
/java/**/target
/scala/**/target
/kylin/**/target
/scala/**/project/project
/scala/**/project/target

/nodejs/**/node_modules
/nodejs/**/dist
/nodejs/**/output
/nodejs/**/*.log
/nodejs/**/config.yml
/nodejs/**/.nuxt

/java/**/Makefile
/python/*/null/
.settings/
/Lightning/**/target
/kylin/webapp/app/components/

/Lightning/data-streaming/project/project
/data_env
/java/mobvoi-analytics-transfer/logs/*
/java/data-portal-api/logs/*
/java/mobvoi-analytics-watcher/logs/*
/java/mobvoi-analytics-transporter/logs/*
/python/edison/data

.idea
.vscode
.style.yapf
**/.vscode
.history
**/.history
package-lock.json
